* {
    font-family: 'Righteous', cursive;
}

body {
    background-image: url(assets/images/jordan-back.jpg);
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: red;
    margin-top: 40px;
}

.headerLogo img {
    height: 110px;
    width: 110px;
}

div.headerLogo {
    display: flex;
    justify-content: flex-end;
    margin: 17px;
    margin-top: -93px;
}

.sectionBox {
    border: 1px solid red;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    margin-top: 20px;
}

.sectionDivImagen img {
    height: 200px;
    width: 300px;
}

.sectionDivImagen {
    display: flex;
    justify-content: center;
}

.footerBox {
    border: 1px solid red;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
}

.footerLogo img {
    height: 110px;
    width: 110px;
}

a {
    margin-left: 13px;
    position: absolute;
}

h6 {
    text-align: right;
    margin-bottom: -10px;
}
/* Media queries 768px */
@media (max-width: 768px) {
    .headerLogo img {
        height: 100px;
        width: 100px;
    }

    .sectionDivImagen img {
        height: 180px;
        width: 280px;
    }

    .footerLogo img {
        height: 100px;
        width: 100px;
    }

    a {
        margin: 10px;
    }
}
/* Media queries 500px */
@media (max-width: 500px) {
    h1 {
        font-size: 20px;
    }

    .headerLogo img {
        height: 80px;
        width: 80px;
        margin-top: 20px;
    }

    .sectionDivImagen img {
        height: 145px;
        width: 240px;
    }

    .footerLogo img {
        height: 80px;
        width: 80px;
    }

    a {
        font-size: 12px;
    }
}